.description {
  min-height: 850px;

  @media (max-width:768px) {
    min-height: 300px;
  }

  &__inner {
    padding-top: 202px;
    padding-bottom: 203px;

    @media (max-width:768px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  &__title {
    max-width: 820px;
    text-transform: uppercase;
    @extend %lato-700;
    font-size: 48px;
    color: $secondary;
    margin-bottom: 80px;

    @media (max-width:768px) {
      font-size: 36px;
      margin-bottom: 20px;
    }

    @media (max-width:576px) {
      font-size: 22px;
    }

    span {
      color: #000;
    }

  }

  &__subtitle {
    @extend %lato-700;
    font-size: 20px;

    @media (max-width:768px) {
      font-size: 16px;
    }
  }

  &__text {
    margin-top: 10px;
    margin-bottom: 80px;

    @media (max-width:768px) {
      margin-bottom: 20px;
    }

    p {
      @extend %lato-400;
      font-size: 20px;
      margin-left: 10px;

      @media (max-width:768px) {
        font-size: 14px;
      }
    }
  }

  &__btn {

    height: 43px;
    min-width: 183px;
    padding: 0 10px;
    background-color: $primary;
    border: 1px solid #6F6D7B;
    border-radius: 5px;
    text-transform: uppercase;
    @extend %lato-400;
    font-size: 13px;
    color: #2A2B30;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: $secondary;
      color: $primary;
      border: 1px solid #fff;
    }

    @media (max-width:992px) {
      &:hover {
        pointer-events: none;
      }
    }

    @media (max-width:768px) {
      min-width: 100px;
      height: 30px;
      font-size: 10px;
    }
  }

  &__btn+.description__btn {
    margin-left: 30px;

    @media (max-width:768px) {
      margin-left: 10px;
    }
  }
}